{% extends "users/base.html" %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
{% load static %}
<div class="login-content">
	<form method="POST">
		{% csrf_token %}
		<img src="{% static 'users/img/avatar.svg' %}">
		<h2 class="title">Welcome</h2>
		<div class="messages">
			{% if messages %}
				{% for message in messages %}
					<h3>{{ message }}</h3>
				{% endfor %}
			{% endif %}
		</div>
		<div class="log">
			{% if form.errors %}
				<p>Incorrect login details</p>
			{% endif %}
		</div>

		<div class="input-div one">
		   <div class="i">
				<i class="fas fa-user"></i>
		   </div>
		   <div class="div">
				{{ form.username }}
		   </div>
		</div>
		<div class="input-div pass">
		   <div class="i">
				<i class="fas fa-lock"></i>
		   </div>
		   <div class="div">
				{{ form.password}}
		   </div>
		</div>

		<a class="google" href="{% provider_login_url 'google' %}"><img class="small" src="{% static 'users/img/google.svg' %}" alt="Google"></a>
		<a  class="account" href="{% url 'password_reset' %}">Forgot Password?</a>
		<a class="acc" href="{% url 'register' %}">Create account</a>
		<input type="submit" class="btn" value="Login">

	</form>
</div>
{% endblock content %}