{% extends "users/base.html" %}
{% block content %}
<div class="signup-content">
    <form method="POST">
        {% csrf_token %}
        <h2>Password Reset</h2>
            <div class="errors">
                {% if form.errors %}
                    {{ form.errors}}
                {% endif %}
            </div>
            <div class="input-form">
                <div class="i">
                    <i class="fas fa-user-lock"></i>
               </div>
                <div class="div">
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="input-form">
                <div class="i">
                    <i class="fas fa-user-lock"></i>
               </div>
                <div class="div">
                    {{ form.new_password2}}
                </div>
            </div>
        <div class="help">
           {{ form.new_password1.help_text }}
        </div>
        <a class="acc" href="{% url 'login' %}">Go back to login page</a>
        <div class="btn">
            <button class="btn signup" type="submit">Reset Password</button>
        </div>


    </form>
</div>
{% endblock content %}