{% extends "users/base.html" %}
{% block content %}
{% load static %}
<div class="signup-content">
	<form method="POST">
		{% csrf_token %}
		<h2 class="title">Password Reset</h2>
		<small>please provide your email</small>
		<div class="input-form">
			<div class="i">
				<i class="fas fa-envelope"></i>
		   </div>
			<div class="email">
				 {{ form.email }}

			</div>
		</div>

		<p>Need an account?</p><a class="acc" href="{% url 'register' %}"> Create account</a>
		<input type="submit" class="btn" value="Request Password Reset">
	</form>
</div>
{% endblock content %}