body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* navbar design */
a{
  text-decoration: none;
}
nav{
  justify-content: space-around;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
}
.nav-link ul li{
  list-style: none;
}
.nav-link ul{
  display: flex;
  justify-content: space-around;
  width: 250px;

}
.nav-link a{
  color: #8a8a8a;
  transition: color 0.5s;
  font-size: 28px;
}
.nav-link li:hover{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.nav-link a:hover{
  color: black;
}
.logo{
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
}
.logo a{
  color: black;
}
.logo a:hover{
  color:#424242 ;
  letter-spacing: 6px;
}
.menu{
  cursor: pointer;
  display: none;
}


.menu:active{
  color: #8a8a8a;
}
.closebtn{
  display: none;
}

@media screen and (max-width: 1024px){
  .nav-link ul{
    width: 150px;
  }
}
@media screen and (max-width: 720px){
  .logo{
    justify-content: center;
  }
  .menu{
    display: block;
    cursor: pointer;
    font-size: 50px;
  }
  .nav-link {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  .nav-link a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;

  }

  .nav-link a:hover{
    color: #f1f1f1;
  }

  .nav-link .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


}
@media screen and (max-height: 450px) {
  .nav-link {padding-top: 15px;}
  .nav-link a {font-size: 18px;}
}